@media only screen and (max-width: 767px){

	/* MOBILE MENU START */
	.header-bottom .menu-top { justify-content: end;}
	.menuArea .menu { display: none; }
    .menuArea ul { display: none; }
    .mobilemmenu { display: block; }
    .mobilemmenu { padding: 10px 0; display: block; float: left; font-size: 30px; }
    .mobilemmenu a i { color: #40e0d0; }
    .mobilemmenu .menutoggle { padding: 7px 10px; float: left; color: #fff; text-decoration: none; background: #0049b9; }
    #mmenu ul { display: block; }
	.mm-menu { background: #0049b9; }
    .mm-listview li span { font-size: 16px; }
    .mm-listview li span small { font-size: 12px; }
    .mm-listview li span img { border-radius: 50px; width: 50px; height: 50px; margin: -5px 10px -5px -5px; float: left; }	

	.header-contact { display: none; }
	.bannersliderBox .item { min-height: auto; padding: 50px 0; }
	.bannersliderBox .owl-dots { display: block; text-align: center; bottom: 10px; }
	.bannersliderBox .item h2 { font-size: 30px; line-height: 40px; }
	.bannersliderBox .item p { font-size: 16px; line-height: 20px; }
	.bannersliderBox .owl-nav  { display: none; }
	
	.our-icons .icons-main .item { display: block; text-align: center; }
	.our-icons .icons-main .item .image { margin: 0; }
	.our-icons .icons-main .item .text { margin-top: 20px; }
	.our-icons .icons-main .item h3 { font-size: 18px; }
	
	.aboutBox { padding: 30px 0; }
	.aboutBox .text { padding: 0px 15px 15px 15px; }
	.aboutBox .text h2 { font-size: 30px; }
	
	.services-box { padding: 30px 0 0 0; }
	.services-box .heading { padding-bottom: 20px; } 
	
	.branches-box { padding: 30px 0; }
	.branches-box .heading { padding-bottom: 20px; }
	.branches-box .branches-block .item .image h2 { font-size: 12px; }
	
	.blog-box {  padding: 30px 0; }
	.blog-box .heading { padding-bottom: 20px; }
	.blog-box .blog-block .item { padding: 0; }
	.blog-box .blog-block .item .text-box { padding: 5px; }
	.blog-box .blog-block .item .text-box h2 { font-size: 14px; line-height: 18px; }
	.blog-box .blog-block .item .text-box p { line-height: 16px; font-size: 12px; } 
	
	.contact-box { padding: 30px 0 0 0; }
	.contact-box .contact-container .address-box { padding: 15px; }
	.contact-box .contact-container .contact-us-form { padding: 15px; }
	.contact-box .contact-container .contact-us-form .contact-form { padding-bottom: 20px; }
	
	.footer-top .footer-menu ul { padding: 10px 0;  display: block; }	
	.footer-top .footer-menu ul li a { font-size: 14px; }
	.footer-top .footer-bottom-inner p { font-size: 12px; padding: 10px 0; }
	
	/* about us page */
	.about-page-block { padding: 30px 0; }
	.about-our-services { padding: 30px 0; }
	
}


@media only screen and (max-width: 480px){


	.aboutBox .text h2 { font-size: 28px; }
	.aboutBox .text p { font-size: 14px; }
	.services-box .heading h2 { margin-bottom: 15px; font-size: 28px; }
	.services-box .heading p { font-size: 14px; padding: 0 10px; line-height: 20px; }
	.services-box .service-item-one .text-box h2 { font-size: 20px; margin-top: 10px; }
	
	.branches-box .heading h2 { margin-bottom: 15px; font-size: 28px; }
	.bannersliderBox .item h2 { font-size: 24px; line-height: 24px; }
	.branches-box .branches-block .item .image h2 { font-size: 14px; }
	
	.branches-box .branches-block .item-single { flex: 0 0 100%; }
	
	.blog-box .blog-block .item { margin-top: 15px; }
	
	.bannersliderBox .item p { font-size: 14px; }
	
	.reverse-order { flex-direction: column-reverse; }
	
	.blog-box .heading h2 { margin-bottom: 15px; font-size: 28px; }
	.blog-box .heading p { font-size: 14px; padding: 0 10px; line-height: 20px; max-width: 100%; }
	
	
	/* about us page */
	.banner-inner-page { min-height: 200px; }
	
	.about-page-block { }
	.about-page-block .text h2 { font-size: 28px; }
	.about-page-block .text p { font-size: 14px; padding: 0 15px; }
	
	.about-our-services .heading h2{ margin-bottom: 15px; font-size: 28px; }
	.about-our-services .heading { padding-bottom: 20px; }
	.about-our-services .heading p { font-size: 14px; padding: 0 10px; line-height: 20px; max-width: 100%; }
	.about-our-services .about-services .item .image h2 { font-size: 16px; }
	
	
	.blog-page-box .blog-left .blog-text h2 { font-size: 16px; line-height: 20px; padding: 10px 0; }
	.blog-page-box .blog-left .blog-text p { font-size: 14px; line-height: 20px; max-width: 100%; }
	
	.blog-right .recent-post ul li a { line-height: 20px; font-size: 14px; }
	
	.service-bottom-box .heading h2 { margin-bottom: 15px; font-size: 28px; }
	.service-bottom-box .services-block .item-single { flex: 0 0 100%; }
	.service-bottom-box .services-block .item .image img { max-height: 100%; }
	
	.service-testimonial .heading .text { padding: 15px; }
	.service-testimonial .heading p { font-size: 12px; line-height: 20px; }

}