body { color: #333; font-family: 'Montserrat', sans-serif; font-size: 15px; font-weight: 400; line-height: 1.45; padding: 0;word-wrap: break-word; }
p { font-size: 16px; line-height: 24px; font-weight: 400; }

/* ------------------ HEADAR FOOTER  INNER BANNER COMMON CSS---------------------*/

/* header css start */
.header-bottom { display: block; width: 100%; background: #fff; padding: 5px 0; z-index: 1024; min-height: 100px; }
.header-bottom .logo { flex-direction: row; display: flex; align-items: center; justify-content: flex-start; padding: 12px 0; }
.header-bottom .logo img { width: 100px; }
.header-bottom .logo p { width: 100px; color: #fff; margin: 0; font-size: 16px; font-weight: 400; line-height: inherit; }
.header-bottom .menu-top { float: right; display: flex; align-items: center; justify-content: center; }
.header-bottom .menu-box { float: right; }
.header-bottom .menu-box .navbar { padding: 0; }
.mobilemmenu { display: none; }

/* menu css */
.menuArea li { float: left; padding: 0px 20px 0px 0px; position: relative; }
.menuArea li a { font-size: 16px; color: #052721; font-weight: 600; text-decoration: none; }
.menuArea li a.contact-us-btn { display: none; }
.menuArea li a:hover { color: #40E0D0; }
.menuArea ul>li>ul { background: #fff; z-index: 1024; top: 100%; left: 0px; width: 250px; position: absolute; display: none; padding: 0; list-style-type: none; padding: 10px; }
.menuArea ul>li>ul>li { padding: 0px; width: 100%; float:left;margin: 0px; text-align: left; position: relative; border-bottom: 1px solid #333; }
.menuArea ul>li>ul>li>a:hover { color: #40E0D0; }
.menuArea ul>li>ul>li a { text-decoration: none; padding: 10px 0px; display: block; color: #333; }
.menuArea ul>li:hover >ul { display: block; }
.menuArea ul>li>ul>li>ul { background: #f5f6f8; z-index: 9; top: 0px; left: 210px; width: 210px; position: absolute; display: none; }
.menuArea ul>li>ul>li>ul>li { border-bottom: 1px solid #0049b9; }
.menuArea ul>li>ul>li>ul>li:last-child { border-bottom: 0px; }
.menuArea ul>li>ul>li:hover >ul { display: block; }
/* menu css */
.header-contact { display: flex; align-items: center; justify-content: right; height: 100%; text-decoration: none; }
.header-contact a { color: #fff; background: #40E0D0; padding: 10px 15px; font-weight: 600; text-decoration: none; }
/* header css end */

/* ------------------ HOME PAGE  CSS START ---------------------*/

/* banner slider start */
.bannersliderBox { width: 100%; position: relative; }
.bannersliderBox .item { text-align: center; min-height: 748px; display: flex; flex-direction: column; align-items: center; justify-content: center; background-size: 100% 100% !important; max-width: 100%; position: relative; }
/* .bannersliderBox .item:before { content: " "; width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: rgba(0, 0, 0, 0.3); } */
.bannersliderBox .item:before { content: " "; width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: rgba(0, 0, 0, 0.7); }
.bannersliderBox .item .text { display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100%; position: relative; }
/* .bannersliderBox .item { text-align: center; min-height: 748px; display: flex; flex-direction: column; align-items: center; justify-content: center; background-size: 100% 100% !important; max-width: 100%; } */
.bannersliderBox .item .text { display: flex; flex-direction: column; align-items: center; justify-content: center;  width: 100%; }
.bannersliderBox .item h2 { color: #fff; font-size: 60px; line-height: 72px; text-align: center; }
.bannersliderBox .item p { color: #fff; font-size: 20px; font-weight: 400; line-height: 32px; padding-top: 20px; max-width: 900px; }
.bannersliderBox .item  .banner-form { display: block; width: 100%; margin-top: 50px; max-width: 500px; padding: 20px; background: #091B19; }
.bannersliderBox .item .banner-form span { font-size: 16px; font-weight: 700; text-align: left; color: #fff; padding-bottom: 5px; display: block; }
.bannersliderBox .item .bannerbtn a { background-color: #0049b9; border: none;  padding: 10px 20px; color: #fff; margin-top: 30px; }
.bannersliderBox .item .banner-form-inner { display: flex; }
.bannersliderBox .item  input.form-control { border: 0; border-radius: 0px; }
.bannersliderBox .item .banner-form-inner input[type="button"] { background: #40E0D0; border: 0; font-size: 14px; margin-left: 20px; width: 135px; height: 35px; font-size: 14px; font-weight: 600; display: block; }

.bannersliderBox .owl-nav { display: block; position: absolute; border: 0; top: 40%; width: 100%; background: transparent; z-index: 1024;}
.bannersliderBox .owl-prev, .bannersliderBox .owl-next  { width: 50px; height: 50px; background: #fff; display: block; text-align: center; line-height: 50px; border-radius: 50%; font-size: 20px; position: absolute; color: #40E0D0; }
.bannersliderBox .owl-prev { left: 10px; }  
.bannersliderBox .owl-next { right: 10px; }
.bannersliderBox .owl-next:hover, .bannersliderBox .owl-prev:hover { color: #fff; background-color: #40E0D0; }

.bannersliderBox .owl-dots { position: absolute; width: 100%; bottom: 60px; display: none; }
.bannersliderBox .owl-dots .owl-dot { border-radius: 50%; width: 20px; display: inline-block; float: none; height: 20px; margin-right: 10px; border: 2px solid #40E0D0; }
.bannersliderBox .owl-dots .owl-dot.active{ background: #40E0D0; }
/* banner slider start */

/* home icons css start */
.our-icons { display: block; position: relative; }
.our-icons .icons-main { display: flex; align-items: inherit; justify-content: center; margin: 0; }
.our-icons .icons-main .item { width: 100%; height: 100%; position: relative; padding: 50px 25px; display: flex; }
.our-icons .icons-main .item .image { width: 115px; height: 115px; display: inline-block; border-radius: 50%; margin-right: 20px; } 
.our-icons .icons-main .item .image img { width: 100%; height: auto; }
.our-icons .icons-main .item h3 { font-size: 24px; font-weight: 700; line-height: 30px; color: #F6FEFD; }
.our-icons .icons-main .item p { font-size: 16px; margin: 0; line-height: 24px; font-weight: 400; color: #F6FEFD;  }
/* home icons page css end */

/* home about us css start */
.aboutBox { width: 100%; display: block; padding: 100px 0 100px 0; }
.aboutBox .text { padding: 30px 0; }
.aboutBox .text h2 { font-size: 40px; color: #000; font-weight: 700; color: #052721; }
.aboutBox .text h3 { color: #333; font-size: 25px; font-weight: 800; margin-bottom: 20px; }
.aboutBox .text p { font-size: 16px; font-weight: 400; line-height: 24px; color: #697D7A; }
.aboutBox .text .viewfulldetails { font-size: 16px; font-weight: 600; padding: 10px 15px; border: 0; background: #40E0D0; color: #ffffff; margin-top: 15px; }
.aboutBox .image { margin: 0 auto; position: relative; }
.aboutBox .image img { text-align: center; margin: 0 auto; width: 100%; height: 100%; }
/* home about us css end */

/* home services css start */
.services-box { width: 100%; display: block; padding: 70px 0 0 0; position: relative; overflow: hidden; background: rgb(64 224 208 / 10%); }
.services-box .heading { padding-bottom: 50px; }
.services-box .heading h2 { display: block; width: 100%; text-align: center; color: #052721; margin-bottom: 25px; font-size: 40px; font-weight: 700; }
.services-box .heading p { display: block; color: #052721; text-align: center; font-weight: 400; line-height: 24px; margin: 0 auto; }
.services-box .service-item-one { position: relative; padding-bottom: 70px; }
.services-box .service-item-one .image { width: 100%; }
.services-box .service-item-one .image img { width: 100%; margin: 0 auto; }
.services-box .service-item-one .text-box { display: flex; flex-direction: column; justify-content: center; align-items: flex-start; height: 100%; }
.services-box .service-item-one .text-box h2 { color: #052721; font-size: 24px; font-weight: 700; }
.services-box .service-item-one .text-box p { font-size: 16px; font-weight: 400; line-height: 24px; color: #697D7A; }
.services-box .service-item-one .text-box .viewfulldetails { font-size: 16px; font-weight: 600; padding: 10px 15px; border: 0; background: #40E0D0; color: #ffffff; margin-top: 15px; }
/* home services css end */

/* home branches css start */
.branches-box { width: 100%; display: block; padding: 70px 0; position: relative;  background: url(../images/our-branches-back.png); background-size: 100% 100%; }
.branches-box .heading { padding-bottom: 50px; }
.branches-box .heading h2 { display: block; font-size: 40px; margin-bottom: 25px; font-weight: 700; text-align: center; width: 100%; color: #fff; }
.branches-box .heading p { color: #333; text-align: center; display: block; width: 100%; font-weight: 400; max-width: 70%; margin: 0 auto; }
.branches-box .branches-block { display: flex; flex-direction: row; flex: 1; }
.branches-box .branches-block .item-single{ display: flex; flex-direction: column; flex: 0 0 20%; }
.branches-box .branches-block .item { display: inline-flex; margin-bottom: 15px; position: relative; }
.branches-box .branches-block .item .image { width: 100%; height: auto; text-align: center; line-height: 90px; border-radius: 50px; }
.branches-box .branches-block .item .image img { width: 100%; }
.branches-box .branches-block .item .image h2 {color: #fff; font-size: 16px; font-weight: 600;position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 1; }
/* home branches css start */

/* blog box start */
.blog-box { width: 100%; display: block; padding: 70px 0; position: relative; }
.blog-box .heading { padding-bottom: 50px; }
.blog-box .heading h2 { display: block; width: 100%; text-align: center; color: #052721; margin-bottom: 25px; font-size: 40px; font-weight: 700; }
.blog-box .blog-block .item .image img {
    width: 100%;
    height: 250px;
    object-fit: contain;
}
.blog-box .heading p { color: #333; text-align: center; display: block; width: 100%; font-weight: 400; max-width: 70%; margin: 0 auto; }
.blog-box .blog-block .item { width: 100%; padding-bottom: 20px; padding-left: 20px; padding-top: 20px; padding-right: 20px; border: 1px solid #ccc; }
.blog-box .blog-block .item .image {  }
.blog-box .blog-block .item .image img { width: 100%; }
.blog-box .blog-block .item .text-box { display: block; padding-top: 20px; }
.blog-box .blog-block .item .text-box h2 { font-size: 18px; color: #052721; font-weight: 700; line-height: 24px; font-family: 'Lato', sans-serif; }
.blog-box .blog-block .item .text-box p { font-size: 16px; color: #052721; font-weight: 400; line-height: 24px; }
.blog-box .blog-block .item  .text-box .viewfulldetails { font-size: 16px; font-weight: 600; padding: 10px 15px; border: 0; background: #40E0D0; color: #ffffff; margin-top: 20px; }
/* blog box end */

/* contact box start */
.contact-box { width: 100%; display: block; padding: 70px 0 0 0; position: relative; z-index: 999; }
.contact-box .contact-container { }
.contact-box .contact-container .address-box { background: url(../images/contact-background.png); background-size: 100% 100%; padding-left: 80px; padding-top: 80px; }
.contact-box .contact-container .address-box h2 { font-size: 24px; color: #40E0D0; font-weight: 700; margin-bottom: 20px;}
.contact-box .contact-container .address-box h3 { font-size: 16px; color: #fff; font-weight: 700; }
.contact-box .contact-container .address-box p { font-size: 16px; color: #fff; font-weight: 500; line-height: 24px; margin-bottom: 20px; }
.contact-box .contact-container .contact-us-form { background: #091B19; padding-top: 80px; padding-left: 50px; padding-right: 50px; }
.contact-box .contact-container .contact-us-form  h2 { font-size: 24px; color: #40E0D0; font-weight: 700; margin-bottom: 20px; }
.contact-box .contact-container .contact-us-form  .contact-form { padding-bottom: 50px; }
.contact-box .contact-container .contact-us-form  .contact-form .form-group { }
.contact-box .contact-container .contact-us-form  .contact-form .form-group .form-control { height: 58px; border: 0; border-radius: 0px; }
.contact-box .contact-container .contact-us-form  .contact-form .form-group textarea { height: 100px; border: 0; border-radius: 0px; width: 100%; }
.contact-box .contact-container .contact-us-form  .contact-form .form-group.submit-button { text-align: right; }
.contact-box .contact-container .contact-us-form  .contact-form .form-group input.submitbtn { font-size: 16px; font-weight: 600; padding: 10px 15px; border: 0; background: #40E0D0; color: #ffffff; margin-top: 15px; }
/* contact box end */

/* start footer css */
.footer-top { display: block; position: relative; padding: 300px 0 0 0; background: url(../images/footer-back.png); background-size: 100% 100%; margin-top: -255px; }
.footer-top .footer-logo { display: flex; align-items: center; justify-content: center; }
.footer-top .footer-logo img { width: auto; }
.footer-top .footer-menu { text-align: center; }
.footer-top .footer-menu ul { padding: 30px 0; display: inline-flex; margin: 0; } 
.footer-top .footer-menu ul li { list-style-type: none; padding: 0 25px; position: relative; }
.footer-top .footer-menu ul li a { font-size: 16px; color: #ffffff; font-weight: 500; text-decoration: none;  }
.footer-top .footer-bottom-inner { display: block; width: 100%; text-align: center; }
.footer-top .footer-bottom-inner p { font-size: 16px; color: #ffffff; font-weight: 600; padding: 35px 0; margin: 0 auto; }
/* end footer css */


/* ------------------ ABOUT US  CSS START ---------------------*/

/* inner banner css */
.banner-inner-page { width:100%; min-height: 500px; background-size: 100% 100% !important; } 

/* about page top css */
.about-page-block { padding: 70px 0; }
.about-page-block .text { text-align: center; }
.about-page-block .text h2 { color: #333; font-weight: 700; font-size: 40px; margin: 0; padding-bottom: 20px; text-align: center; }
.about-page-block .text p { font-size: 16px; color: #333; font-weight: 400; padding-bottom: 15px; padding: 0; }
/* about page top css */

/* about our services css start */
.about-our-services { width: 100%; display: block; padding: 70px 0; position: relative;  background: rgb(64 224 208 / 10%); }
.about-our-services .heading { padding-bottom: 50px; }
.about-our-services .heading h2 { display: block; width: 100%; text-align: center; color: #052721; margin-bottom: 25px; font-size: 40px; font-weight: 700; }
.about-our-services .heading p { display: block; color: #052721; text-align: center; font-weight: 400; line-height: 24px; margin: 0 auto; }
.about-our-services .about-services { display: flex; flex-direction: row; flex: 1; align-items: center; justify-content: center;}
.about-our-services .about-services .item-single{ display: flex; flex-direction: column; padding-top: 15px; }
.about-our-services .about-services .item { display: inline-flex; margin-bottom: 15px; position: relative; }
.about-our-services .about-services .item .image:before { content: " "; background: rgb(0 0 0 / 80%); position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.about-our-services .about-services .item .image { width: 100%; height: auto; text-align: center; line-height: 90px; border-radius: 50px; }
.about-our-services .about-services .item .image img { width: 100%; }
.about-our-services .about-services .item .image h2 { font-family: 'Lato', sans-serif; color: #fff; font-size: 24px; font-weight: 700; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 1; }
/* about our services css start */


/* ------------------ SERVICES  CSS START ---------------------*/
/* service bottom css start */
.service-bottom-box { width: 100%; display: block; padding: 0 0 70px 0; position: relative; }
.service-bottom-box .heading {  }
.service-bottom-box .heading h2 { display: block; font-size: 40px; margin-bottom: 25px; font-weight: 700; text-align: center; width: 100%; color: #052721; }
.service-bottom-box .heading p { color: #333; text-align: center; display: block; width: 100%; font-weight: 400; max-width: 70%; margin: 0 auto; }
.service-bottom-box .services-block { display: flex; flex-direction: row; flex: 1; }
.service-bottom-box .services-block .item-single { display: flex; flex-direction: column; flex: 0 0 20%; }
.service-bottom-box .services-block .item { display: inline-flex; margin-bottom: 15px; position: relative; }
.service-bottom-box .services-block .item .image { width: 100%; height: auto; text-align: center; line-height: 90px; border-radius: 50px; }
.service-bottom-box .services-block .item .image img { width: 100%; max-height: 130px; }
.service-bottom-box .services-block .item .image h2 { color: #fff; font-size: 16px; font-weight: 600;position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 1; }
/* service bottom css end */

/* service testimonial css start */
.service-testimonial { width: 100%; display: block; padding: 0 0 70px 0; position: relative; }
.service-testimonial:before { position: absolute; left: 30px; top: 0; width: 30px; height: auto; content: " "; }
.service-testimonial .heading { padding: 15px; }
.service-testimonial .heading .text { background: url(../images/testimonial-back.png); padding: 65px 100px; display: block; background-size: 100% 100%; }
.service-testimonial .heading p {  line-height: 36px; font-size: 24px; color: #052721; font-weight: 500; text-align: center; margin: 0; }
/* service testimonial css end */


.blog-page-box { }
.blog-page-box .blog-left { }
.blog-page-box .blog-left .blog-text { }
.blog-page-box .blog-left .blog-text .blog-image { }
.blog-page-box .blog-left .blog-text .blog-image img { width: 100%; max-height: 340px; }
.blog-page-box .blog-left .blog-text h2 { font-size: 24px; line-height: 30px; font-weight: 700; color: #052721; padding: 20px 0; }
.blog-page-box .blog-left .blog-text p { font-size: 16px; line-height: 24px; font-weight: 400; color: #697D7A; }

.blog-right { }
.blog-right .recent-post { background: #EBFBFA; padding: 15px; }
.blog-right .recent-post h2 { color: #052721; font-size: 20px; font-weight: 600; padding-bottom: 15px; }
.blog-right .recent-post ul { padding: 0; margin: 0; }
.blog-right .recent-post ul li { border-top: 1px solid #CED1D1; list-style-type: none; padding: 10px 0;}
.blog-right .recent-post ul li a { line-height: 24px; font-size: 16px; color: #00709E; font-weight: 500; }







